body {
    background: linear-gradient(to right, rgba(3, 69, 72, 0.3), rgba(3, 69, 72, 0.3)), url('https://puu.sh/CMcrg/9da0d2a5fc.png%27) center / cover no-repeat fixed;
}

.borderwrapm, div.borderwrap {
    background-color: rgba(3, 69, 72, 0.6);
    border: 1px solid #004554;
}

.post,
.post .post-header,
.post-container,
.popmenubutton-new-out a,
.post-footer {
    background-color: transparent;
    border-color: transparent;
}

.post-container {
    border-bottom: 1px solid #004554;
}
.maintitle.floated {
    background: transparent;
}
